body{
    color: #653bb7;
    background: #FFFFFF;
    font-family: "Tajawal", sans-serif;
    margin: 0 0 0 0;
    direction: rtl;

}


.rowContainer{
    display: flex;
    flex-direction: row;
}

.containerOrder{
    border:  5px solid #653bb7;
    border-radius: 15px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    height: 82vh;
    margin: 20px;
}
.locationSelect{
    background: #ffffff;
    font-family: "Tajawal", sans-serif;
    color: #653bb7;
    margin: 20px;
    border: solid #653bb7;
    border-radius: 15px;
    padding: 5px 10px;
    width: 40%;

}
.inputText{
    background: #ffffff;
    margin: 20px;
    font-family: "Tajawal", sans-serif;
    border: solid #653bb7;
    border-radius: 15px;
    padding: 5px 30px;
    outline: none;
    width: 50%;
}

.inputText:focus {
    border-color: #7F5CC3;
}

.inputText::placeholder {
    color: #653bb7; /* لون النص */
    font-family: "Tajawal", sans-serif;
    opacity: 1; /* الشفافية */
}

.orderButton{
    font-family: "Tajawal", sans-serif;
    border-radius: 15px;
    background: #653bb7;
    border: none;
    color: #ffffff;
    margin: 20px;
    padding: 10px 20px;
    outline: none;
    cursor: pointer;
    width: 40%;


}
.orderButton:hover{
    background: #7F5CC3;
}
.tableCart{

    border:10px solid #ffffff;
    border-radius: 5px;
    direction: rtl;
    width: 100%;
    img{
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }

}
th{

}
.imgTable{
    width: 10%;
    height: 10%;
}
.priceTable{
    text-align: center;
}
.productNameTable{
    padding: 0 10%;
    text-align: center;

}
.removeFromCart{
    font-family: "Tajawal", sans-serif;
    border-radius: 15px;
    background: #653bb7;
    border: none;
    color: #ffffff;
    padding: 5px 5px;
    outline: none;
    cursor: pointer;
    width: 50%;
    margin:  0 25% ;

}
.inputInformation{
    width: 150%;
}