body{
    color: #653bb7;
    background: #FFFFFF;
    font-family: "Tajawal", sans-serif;
    width: 100%;
    margin: 0 0 0 0;
}
/*HEADER SC*/
#headerSc{
    position: sticky;
    margin-top: 0;
    width: 100%;
    box-shadow: 0 10px 15px darkgrey;
    /*text-shadow: 0 5px 15px rgba(0,0,0,0.06);*/
    font-weight: bolder;
}
#mainMenu h2{
    color: #FFFFFF;
    width: 100%;
    text-align: left ;
    font-size: 20px;
    /*margin-top: 5px;*/
    display: inline;
}

#mainMenu
{
    img{
        float: right;
        max-height: 50px;
        padding-right: 30px;
        justify-content: center;
    }

    /*z-index: 100;*/

    top: 0;
    left: 0;

    /*border-radius: 15px;*/
    padding: 10px;
    background: #653bb7;
    /* margin-top: 35px;*/
    font-size: 15pt;
    a{
        padding:10px;
        color: #FFFFFF;
    }
    a:link{
        border-radius: 15px;
        text-decoration: none;
        transition:  0.5s ease-in-out;
    }
    a:visited{
        color: #FFFFFF;
        text-decoration: none;
        border-radius: 15px;
    }
    a:hover, a.active{

        text-shadow: #000 0px 0px 5px;

        transition:  0.5s ease-in-out;
    }


    align-content: center;
    text-align: center;
    a.active::after,a:hover::after{
        content: "";
        width:60%;
        height: 2px;
        background: white;
        position: absolute;
        bottom: -4px;
        right: 20px;

    }
}
ul#menuList {
    color: white;
    list-style-type: none;
    display: flex;
    justify-content: center;
    float: left;

    li {
        margin-right: 50px;
        position: relative;

    }
}



/*     HERO SC     */


.colDescription{
    font-family: 'Amiri', serif;

    padding: 30px;
    /*border: 5px solid blue;*/
    margin-right: 30px;
    justify-content: center;
    margin-top: 60px;
    height: 200px;

}
.colDescription h1
{
    font-weight: 600;
    font-size: 47px;
    /*width: 250px;*/
    /*text-shadow: 4px 4px 5px gray;*/
    text-align: right;
    color: #000;
}

.description{


    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 500px;
    direction: rtl;
    /*margin: 15px 0 15px 0;*/
    /*margin: 15px;*/
    text-align: right;
    /*width: 1400px;*/
    /*height: 550px;*/
    margin-bottom: 10px;
    .colDescription{

    }
    /*padding: 30px;*/
    /*border: 10px solid red;*/

    background-image: url("/products/mod1blur.jpg");
    background-repeat: no-repeat;
    /*background-position: -1500px -1000px ;*/
    /*background-size: 100%;*/
    background-position: -200px -300px;

    #heroButton{
        background-color: transparent;
        border-color: black;
        color: black;
        font-size: 25px;
        border-radius: 3px;
        transition:  0.5s ease-in-out;
        width: 140px;
        padding: 7px;
    }
    #heroButton:hover{
        /*background-color: #653bb7;*/
        background-color: black;
        color: white;
        /*border-color: #653bb7;*/
    }


    /*
        img{
            border-radius: 15px;
            max-width: 100%;
            height:300px ;
            width: 300px;
        }
    */

}


/*        CATEGORIES SC        */



.categories
{

    margin: 10px;
    display: inline-block;
    text-align: center;
    width: 300px;

}
#bagsButton {
    background-image: url("../products/p2.JPG");
}
#hoodiesButton{
    background-image: url("../products/p4.JPG");
}
#cupsButton{
    background-image: url("../products/p5.JPG");
}
#homeCategoriesSc{
    transition:  0.5s ease-in-out;
}
.categories button
{

    width: 300px;
    height: 280px;
    background-size: 100%;
    border-radius: 15px;
    margin-left: 150px;
    color: #653bb7;
    border: 0;
    background-repeat: no-repeat;
    font-size: 20px;
    text-align: center;
    font-family: "Tajawal", sans-serif;
    cursor: pointer;

    image{
        transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function:ease-out ;
        transition-delay: 0s;

    }
}

.categories h3{
    margin-top: 300px;
}


.categories button :hover{
    transform: translateY(-5px);

}
.categories a button h3{
    transition: 0.5s ease-in-out;
}
h2{
    text-align: center;
}
h1{
    text-align: center;
    color: #653bb7;
    font-weight: 700;
    font-style: normal;
}

/*        HOME PRODUCTS        */


.homeContent{
    /*align-content: center;*/
    text-align: center;
    overflow: auto;
    white-space: nowrap;
    /*width: fit-content;*/
}
.card{
    margin: 10px;
    display: inline-block;
    text-align: center;
    width: 300px;


    img{
        border-radius: 15px;
        max-width: 100%;
    }
}




/*        FOOTER       */



.footerContents
{
    background-color: #653bb7;
    /*border-radius: 15px;*/
    padding: 16px;
    max-height: 600px;
}

footer
{
    hr{
        margin-top: 20px;
        align-content: center;

    }

    background-color: #653bb7;
    color: #FFFFFF;
    #footerSocial{
        margin-right: 20px;
    }
    ul{

        list-style-type: none;
        display: flex;
        justify-content: right;

    }
    li{
        margin-left: 50px;

    }

    a:link{
        display: inline;
    }
   #phoneFooter{
       a:link:visited{
           color: white;
       }
   }
    #copyright{
        direction: rtl;

        padding-top: 6px;

    }

    .imgSocial :hover
    {
        opacity: 0.9;
    }
}


/*
.footerCol{
    display: inline-block;
    background-color: red;
    width: 100px;

    padding:0 50px  ;
    margin-left: 60px;

}
#phoneFooter
{
    background-color: black;
    width: 5px;
}
footer
{
    background-color: #653bb7;
    color: #FFFFFF;
    ul{
        list-style: none;
    }
}
.footerContents h3
{
color: #FFFFFF;
}
*/
