body{
    color: #653bb7;
    background: #FFFFFF;
    font-family: "Tajawal", sans-serif;
}

#mainMenu h2{
    color: #FFFFFF;
    text-align: left ;
    font-size: 20px;
    margin-top: 5px;
    display: inline;
}

#mainMenu
{
    img{
        float: left;
        max-width: 35px;
    }

    z-index: 100;
    position: sticky;
    top: 0;
    left: 0;

    border-radius: 15px;
    padding: 10px;
    background: #653bb7;
    /* margin-top: 35px;*/
    font-size: 15pt;
    a{
        padding:10px;
        color: #FFFFFF;
    }
    a:link{
        border-radius: 15px;
        text-decoration: none;
        transition:  0.5s ease-in-out;
    }
    a:visited{
        color: #FFFFFF;
        text-decoration: none;
        border-radius: 15px;
    }
    a:hover{
        /*color: #653bb7;*/
        /*background:#FFFFFF;*/
        text-shadow: white 0px 0px 3px;
        transition:  0.5s ease-in-out;
    }
    a:hover::after{
        transition-delay: 0.7s;
    }

    align-content: center;
    text-align: center;
}

.categories
{
    /*text-align: center;
    margin: 95px;
    display: inline-block;
    width: 300px;
*/
    display: inline;
}
#bagsButton {
    background-image: url("../products/p2.JPG");
}
#hoodiesButton{
    background-image: url("../products/p4.JPG");
}
#cupsButton{
    background-image: url("../products/p5.JPG");
}
.categories button
{

    width: 300px;
    height: 280px;
    background-size: 100%;
    border-radius: 15px;

    margin-left: 150px;
    color: #653bb7;
    border: 0;
    background-repeat: no-repeat;
    font-size: 20px;
    text-align: center;
    font-family: "Tajawal", sans-serif;
    cursor: pointer;
}

.categories h3{
    margin-top: 300px;
}
.categories button{
    image{
        transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function:ease-out ;
        transition-delay: 0s;

    }


}

.categories button :hover{
    transform: translateY(-5px);
}

h2{
    text-align: center;
}
h1{
    text-align: center;
    color: #653bb7;
    font-weight: 700;
    font-style: normal;
}


.homeContent{
    /*align-content: center;*/
    text-align: center;
    overflow: auto;
    white-space: nowrap;
    /*width: fit-content;*/
}
.card{
    margin: 10px;
    display: inline-block;
    text-align: center;
    width: 300px;


    img{
        border-radius: 15px;
        max-width: 100%;
    }
}
.colDescription{
    display: inline-block;
    border: 5px solid blue;
    margin-left: 30px;
    height: 400px;

}
.colDescription h3
{
    width: 250px;
    color: #FFFFFF;
}

.description{

    direction: rtl;
    margin: 15px;
    text-align: right;
    width: 1400px;
    height: 550px;
    padding: 30px;
    display: inline-flex;

    border: 10px solid red;
    background-image: url("/products/p2.JPG");
    background-repeat: no-repeat;
    background-position: -1500px -1000px ;

/*
    img{
        border-radius: 15px;
        max-width: 100%;
        height:300px ;
        width: 300px;
    }
*/

}
.footerContents
{
    background-color: #653bb7;
    border-radius: 15px;
    padding: 2px;
    max-height: 300px;
}

footer
{
    background-color: #653bb7;
    color: #FFFFFF;
    ul{
        list-style: none;
    }

    a:link{
        display: inline;
    }
}
.imgSocial :hover
{
    opacity: 0.9;
}
/*
.footerCol{
    display: inline-block;
    background-color: red;
    width: 100px;

    padding:0 50px  ;
    margin-left: 60px;

}
#phoneFooter
{
    background-color: black;
    width: 5px;
}
footer
{
    background-color: #653bb7;
    color: #FFFFFF;
    ul{
        list-style: none;
    }
}
.footerContents h3
{
color: #FFFFFF;
}

#imgSocial{

        display: inline-block;


}*/