body{
    color: #653bb7;
    background: #FFFFFF;
    font-family: "Tajawal", sans-serif;
    width: 100%;
    margin: 0 0 0 0;
}
/*HEADER SC*/
#headerSc{

    position: sticky;
    top: 0;
    left: 0;
    margin-top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 10px 15px grey;
    /*text-shadow: 0 5px 15px rgba(0,0,0,0.06);*/
    font-weight: bolder;
}
#mainMenu h2{
    color: #FFFFFF;
    width: 100%;
    text-align: left ;
    font-size: 20px;
    /*margin-top: 5px;*/
    display: inline;
}

#mainMenu
{
    img{
        float: right;
        max-height: 50px;
        padding-right: 30px;
        justify-content: center;
    }

    /*z-index: 100;*/

    top: 0;
    left: 0;

    /*border-radius: 15px;*/
    padding: 10px;
    background: #ffffff;
    /* margin-top: 35px;*/
    font-size: 15pt;
    a{
        padding:10px;
        color: #653bb7;
    }
    a:link{
        border-radius: 15px;
        text-decoration: none;
        transition:  0.5s ease-in-out;
    }
    a:visited{
        color: #653bb7;
        text-decoration: none;
        border-radius: 15px;
    }
    a:hover, a.active{

        /*text-shadow: grey 0px 0px 5px;*/

        transition:  0.5s ease-in-out;
    }


    align-content: center;
    text-align: center;
    a.active::after,a:hover::after{
        content: "";
        width:60%;
        height: 2px;
        background: #653bb7;
        position: absolute;
        bottom: -4px;
        right: 20px;

    }
}
ul#menuList {
    color: white;
    list-style-type: none;
    display: flex;
    justify-content: center;
    float: left;

    li {
        margin-right: 50px;
        position: relative;

    }
}

/*     HERO SC     */

.description h1
{
    font-weight: 600;
    /*width: 250px;*/
    /*text-shadow: 4px 4px 5px gray;*/
    text-align: right;
    color: #000000;
}

@media screen and (min-width: 1001px) {
    .description h1 {
        font-size: 47px;
    /*    47*/
    }
    .goToShopping{
        font-size: 25px;
        border-radius: 3px;
        transition:  0.5s ease-in-out;
        width: 140px;
        padding: 7px;
    }


}

@media screen and (min-width: 0px) and (max-width: 1000px) {

    /*.goToShopping{*/
    /*font-size: 17px;*/
    /*    border-radius: 2px;*/
    /*    transition:  0.5s ease-in-out;*/
    /*    width: 100px;*/
    /*    margin-top: 0;*/
    /*    padding: 5px;*/
    /*}*/

    .description{
        display: flex;
        margin-bottom: 10px;

    }

    .description h1 {
        font-size: 30px;
        width: 500px;
        height: 300px;
        line-height: 40px;
        /*margin-top: 0;*/
        padding-top: 0;
        overflow: auto;
        padding-right: 40px;
        /*font-size: 15px;*/
    }
}

/*تجربة مينيو عمودية ريسبونسف*/
/*@media (max-width: 799px) {*/
/*    #menuList{*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        align-items: flex-start;*/
/*        justify-content: flex-start;*/
/*        position: fixed;*/
/*        top:0;*/
/*        right: 0;*/
/*        height: 100vh;*/
/*        width: 150px;*/
/*        background-color: #653bb7;*/
/*        box-shadow: 0 40px 60px darkgrey;*/
/*        padding: 20px 0 0 10px;*/
/*    }*/
/*    #menuList li{*/
/*        margin-bottom: 25px;*/
/*    }*/
/*}*/
/*نهاية التجربة*/

.description h1{
    font-family: "Tajawal", sans-serif;
}


.description{

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 650px;
    direction: rtl;
    /*background: forestgreen;*/

    /*margin: 15px 0 15px 0;*/
    /*margin: 15px;*/
    text-align: right;
    /*width: 1400px;*/
    /*height: 550px;*/
    margin-bottom: 0;


    /*padding: 30px;*/
    /*border: 10px solid red;*/


  /*  img{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }
*/


    /* الكود الاصلي */
    /*
    background-image: url("/products/mod1blur.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
*/
/* الكود الاصلي */


    /*background-position: -1500px -1000px ;*/
    /*background-size: 100%;*/

 /*   background-position: -200px -300px;
*/
    /*#heroButton{*/
    /*    background-color: transparent;*/
    /*    border-color: black;*/
    /*    color: black;*/
    /*    font-size: 25px;*/
    /*    font-family: "Tajawal", sans-serif;*/
    /*    border-radius: 3px;*/
    /*    transition:  0.5s ease-in-out;*/
    /*    width: 140px;*/
    /*    padding: 7px;*/
    /*}*/
    /*#heroButton:hover{*/
    /*    !*background-color: #653bb7;*!*/
    /*    background-color: black;*/
    /*    color: white;*/
    /*    !*border-color: #653bb7;*!*/
    /*}*/


    /*
        img{
            border-radius: 15px;
            max-width: 100%;
            height:300px ;
            width: 300px;
        }
    */

}

/*اضافة شهد */
.containerImgHome .buttonAndTxtImg{
  position: absolute;
    width: 100px ;
    height: 100px;
    z-index: 200;
    padding-right: 50px;


    button{
        background-color: transparent;
            border-color: black;
            color: black;
            font-size: 25px;
            font-family: "Tajawal", sans-serif;
            border-radius: 3px;
            transition:  0.5s ease-in-out;
            width: 140px;
            padding: 7px;

    }

    button:hover{
        /*background-color: #653bb7;*/
        background-color: black;
        color: white;
        /*border-color: #653bb7;*/
    }
}
/* اضافة شهد , كبسة ونص فوق السلايدر */


/*تعديل الديسكريبشن ليصبح سلايدر */
.containerImgHome{
    position: relative;
    width: 100%;
    height: 100%;
    transform: translate(0%,0%);
    overflow: hidden;
}
.wrapperImgHome{
    width: 100%;
    height: 100%;
    position: absolute;
    animation: slide 16s infinite;

    display: flex;
    direction: ltr;
    img{
        width: 100%;
        height: 100%;
        /*opacity: 0.5;*/
    }
}
/*كود  انيمشن السلايدر الاول */
@keyframes slide {
    0%{
        transform: translateX(0);
    }

    25%{
        transform: translateX(0);

    }
    30%{
        transform: translateX(-100%);
    }

    50%{
        transform: translateX(-100%);

    }

    55%{
        transform: translateX(-200%);

    }

    75%{
        transform: translateX(-200%);

    }


    80%{
        transform: translateX(-300%);

    }

    100%{
        transform: translateX(-300%);

    }
}
/*كود السلايدر الاول */



/*        CATEGORIES SC        */
.categories
{
    margin: 10px;
    display: inline-block;
    text-align: center;
    width: 300px;
}
#bagsButton {
    background-image: url("../products/homeProducts/homeBag.png");
}
#hoodiesButton{
    background-image: url("../products/homeProducts/homeCloth.png");
}
#cupsButton{
    background-image: url("../products/homeProducts/homeMug.png");
}
#homeCategoriesSc{
    transition:  0.5s ease-in-out;
    display: flex;
    margin: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}


.categories button
{

    width: 300px;
    height: 280px;
    background-size: 100%;
    border-radius: 15px;
    color: #653bb7;
    border: 0;
    background-repeat: no-repeat;
    font-size: 20px;
    text-align: center;
    font-family: "Tajawal", sans-serif;
    cursor: pointer;

    image{
        transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function:ease-out ;
        transition-delay: 0s;

    }
}

.categories h3{
    margin-top: 300px;
}


.categories button :hover{
    transform: translateY(-5px);

}
.categories a button h3{
    transition: 0.5s ease-in-out;
}
h2{
    text-align: center;
}
h1{
    text-align: center;
    color: #653bb7;
    font-weight: 700;
    font-style: normal;
}

/*        HOME PRODUCTS        */

ul#cardsUl {
    padding-right: 10px;
    list-style-type: none;

}
#homeProductsSc{
    margin-right: 0;
    margin-top: 20px;
    direction: rtl;
}
.homeContent{
    /*align-content: center;*/
    padding-left: 0;
    text-align: center;
    overflow: auto;
    white-space: nowrap;
    /*width: fit-content;*/
}

/*تعديل كود الكارد*/
/*.card{*/

/*    margin: 10px 0 10px 10px;*/

/*    display: inline-block;*/
/*    text-align: center;*/
/*    width: 300px;*/


/*    img{*/
/*        border-radius: 15px;*/
/*        max-width: 100%;*/
/*    }*/
/*}*/


/*الكود الجديد */

.slider {

    display: inline-block;
    margin-top: 50px;
    padding-top: 20px ;
    position: relative;
    width: 80%;
    max-width: 965px; /* Adjusted for three products */
    overflow: hidden;
    border: 3px solid #653bb7;
    border-radius: 15px;
    /*padding: 5px;*/
}

.slides {

    display: flex;
    margin: 0 15px;
    transition: transform 0.5s ease-in-out;
    direction: ltr;
}

.card {
    align-items: center;
    align-content: center;
    align-self: center;
    min-width: 33.3333%; /* Adjusted to show three products at a time */
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    direction: ltr;

    margin: 10px 0 10px 10px;
    display: inline-block;
    width: 300px;


    img{
        border-radius: 15px;
        max-width: 100%;
    }
}

.slide img {
    max-width: 100%;
    border-radius: 10px;
}

.prev, .next {
    direction: ltr;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffffff;
    color: #653bb7;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 100;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: #ffffff;
}


/*        FOOTER       */



.footerContents
{
    background-color: #653bb7;
    /*border-radius: 15px;*/
    padding: 16px;
    max-height: 600px;
}

footer
{
    hr{
        margin: 20px;
        align-content: center;

    }

    background-color: #653bb7;
    color: #FFFFFF;
    #footerSocial{
        margin-right: 20px;
    }
    ul{

        list-style-type: none;
        display: flex;
        justify-content: right;

    }
    li{
        margin-left: 50px;

    }

    a:link{
        display: inline;
    }
   #phoneFooter{
       a:link:visited{
           color: white;
       }
   }
    #copyright{
        direction: rtl;

        padding-top: 6px;

    }

    .imgSocial :hover
    {
        opacity: 0.9;
    }
}

