body{
    color: #653bb7;
    background: #FFFFFF;
    font-family: "Tajawal", sans-serif;

}
.categories
{
    text-align: center;
    margin: 95px;
    display: inline-block;
    width: 300px;

    img{
        max-width: 100%;
    }

}
h2{
    text-align: center;
}
h1{
    text-align: center;
    color: #653bb7;
    font-weight: 700;
    font-style: normal;
}
#mainMenu
{
    border-radius: 15px;
    padding: 10px;
    background: #653bb7;
    margin-top: 35px;
    font-size: 15pt;
    a{
        padding:10px;
        color: #FFFFFF;
    }
    a:link{
        border-radius: 15px;
        text-decoration: none;
        transition:  0.5s ease-in-out;
    }
    a:visited{
        color: #FFFFFF;
        text-decoration: none;
        border-radius: 15px;
    }
    a:hover{
        /*color: #653bb7;*/
        /*background:#FFFFFF;*/
        text-shadow: white 0px 0px 3px;
        transition:  0.5s ease-in-out;
    }
    a:hover::after{
        transition-delay: 0.7s;
    }

    align-content: center;
    text-align: center;
}
.homecontetnt{
    /*align-content: center;*/
    text-align: center;
    overflow: auto;
    white-space: nowrap;
    /*width: fit-content;*/
}
.card{
    margin: 10px;
    display: inline-block;
    text-align: center;
    width: 300px;

    img{
        max-width: 100%;
    }
}
#description{
    text-align: center;
}
