body{
    color: #653bb7;
    background: #FFFFFF;
    font-family: "Tajawal", sans-serif;

}
.categories
{
    /*text-align: center;
    margin: 95px;
    display: inline-block;
    width: 300px;
*/
    display: inline;
}

.categories #cupsButton
{
    background-image: url("products/p4.JPG");
    width: 300px;
    height: 280px;
    background-size: 100%;

    margin-left: 150px;
    color: #653bb7;
    border: 0;
    background-repeat: no-repeat;
    font-size: 20px;
    text-align: center;
    font-family: "Tajawal", sans-serif;
    cursor: pointer;

}

.categories #bagsButton
{
    background-image: url("products/p2.JPG");
    width: 300px;
    height: 280px;
    background-size: 100%;

    margin-left: 150px;
    color: #653bb7;
    border: 0;
    background-repeat: no-repeat;
    font-size: 20px;
    text-align: center;
    font-family: "Tajawal", sans-serif;
    cursor: pointer;
}

.categories #hoodiesButton
{
    background-image: url("products/p5.JPG");
    width: 300px;
    height: 280px;
    background-size: 100%;

    margin-left: 150px;
    color: #653bb7;
    border: 0;
    background-repeat: no-repeat;
    font-size: 20px;
    text-align: center;
    font-family: "Tajawal", sans-serif;
    cursor: pointer;
}
#textHoodiesButton{
    margin-top: 300px;
}

#textBagsButton{
    margin-top: 300px;
}

#textCupsButton{
    margin-top: 300px;
}




h2{
    text-align: center;
}
h1{
    text-align: center;
    color: #653bb7;
    font-weight: 700;
    font-style: normal;
}


#mainMenu h2{
    color: #FFFFFF;
    text-align: left ;
    font-size: 20px;
    margin-top: 5px;
    display: inline;
}

#mainMenu
{
    img{
        float: left;
        max-width: 35px;
    }

    z-index: 100;
    position: sticky;
    top: 0;
    left: 0;

    border-radius: 15px;
    padding: 10px;
    background: #653bb7;
   /* margin-top: 35px;*/
    font-size: 15pt;
    a{
        padding:10px;
        color: #FFFFFF;
    }
    a:link{
        border-radius: 15px;
        text-decoration: none;
    }
    a:visited{
        color: #FFFFFF;
        text-decoration: none;
        border-radius: 15px;
    }
    a:hover{
        color: #653bb7;
        background:#FFFFFF;
        transition:  0.7s ease-in-out;
    }
    a:hover::after{
        transition-delay: 0.7s;
    }

    align-content: center;
    text-align: center;
}
.homeContent{
    /*align-content: center;*/
    text-align: center;
    overflow: auto;
    white-space: nowrap;
    /*width: fit-content;*/
}
.card{
    margin: 10px;
    display: inline-block;
    text-align: center;
    width: 300px;

    img{
        max-width: 100%;
    }
}


#description{
    text-align: center;
}
#footerContents
{

background-color: dimgray;

}